<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="a57ac377-ea4d-4f15-a3c6-53e18bc9015e"
            Publisher="CN=prabir"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>ReflectionUtils-WinRT</DisplayName>
    <PublisherDisplayName>prabir</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>ReflectionUtils-WinRT</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="reflectionutils-winrt.exe" 
        EntryPoint="ReflectionUtils_WinRT.App">
        <VisualElements 
            DisplayName="ReflectionUtils-WinRT"
            Logo="Images\Logo.png"
            SmallLogo="Images\SmallLogo.png"
            Description="ReflectionUtils-WinRT"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="Images\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>